<div [formGroup]="form">
  <!-- <label [attr.for]="question.key">{{question.label}}</label> -->

  <div [ngSwitch]="question.controlType">

    <!-- textbox -->
    <mat-form-field *ngSwitchCase="'textbox'">
      <textarea matInput placeholder="{{question.label}}" [type]="question.type" [formControlName]="question.key" [id]="question.key">
    </textarea>
    </mat-form-field>

    <!-- input -->
    <mat-form-field *ngSwitchCase="'input'">
      <input matInput    placeholder="{{question.label}}"    [type]="question.type" [formControlName]="question.key" [id]="question.key">
    </mat-form-field>

    <!-- DatePicker -->
    <mat-form-field *ngSwitchCase="'datePicker'">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date"  [type]="date" [formControlName]="question.key" [id]="question.key">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- dropdown -->
    <mat-form-field *ngSwitchCase="'dropdown'">
      <input matInput placeholder="{{question.label}}" [matAutocomplete]="auto" [type]="question.type" [formControlName]="question.key" [id]="question.key">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let opt of question.options" [value]="opt.key">
          {{ opt.value }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- radio -->
    <mat-radio-group class="um-radio-group" *ngSwitchCase="'radio'" [formControlName]="question.key" [id]="question.key" [(ngModel)]="question.label">
      <mat-radio-button class="um-radio-button" *ngFor="let opt of question.options" [value]="opt.key">
        {{opt.value}}
      </mat-radio-button>
    </mat-radio-group>

  </div>
  {{question.id}}
  <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div> -->
</div>